

.button, .btn, button, li button, .btn-primary {
    box-shadow: none !important;
}

.btn:hover {

}

.button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 100px;
    text-decoration: none;
    color: inherit;
    transition: var(--hover);
    cursor: pointer;
    padding: 8px 14px;
    font-size: 14px;
    text-align: center;
}
