:root {

    /* Sparda-Hessen */
    /* colors */
    --brand-matrix-primitives-000: rgb(255, 255, 255);
    --brand-matrix-primitives-001: rgb(239, 98, 0);
    --brand-matrix-primitives-002: rgb(16, 38, 72);
    --brand-matrix-primitives-003: rgb(47, 114, 190);
    --brand-matrix-primitives-004: rgb(244, 147, 71);
    --brand-matrix-primitives-005: rgb(226, 239, 255);
    --brand-matrix-primitives-006: rgb(100, 156, 207);
    --brand-matrix-primitives-007: rgb(37, 106, 165);
    --brand-matrix-primitives-008: rgb(9, 133, 30);
    --brand-matrix-primitives-009: rgb(241, 242, 246);
    --brand-matrix-primitives-010: rgb(209, 214, 220);
    --brand-matrix-primitives-011: rgb(177, 184, 192);
    --brand-matrix-primitives-012: rgb(82, 87, 91);
    --brand-matrix-primitives-013: rgb(227, 0, 27);
    --brand-matrix-primitives-014: rgb(255, 255, 255);
    --brand-matrix-primitives-015: rgb(151, 185, 223);
    --brand-matrix-primitives-016: rgb(241, 247, 255);
    --brand-matrix-primitives-017: rgb(0, 153, 0);
    --brand-matrix-primitives-018: rgb(245, 193, 30);
    --brand-matrix-primitives-019: rgb(245, 206, 96);
    --brand-matrix-primitives-020: rgb(145, 190, 220);
    --brand-matrix-primitives-021: rgb(170, 203, 226);
    --brand-matrix-primitives-022: rgb(204, 204, 204);
    --brand-matrix-primitives-023: rgb(213, 213, 213, 0.6);
    --brand-matrix-primitives-023-1: rgb(213, 213, 213, 0.4);
    --brand-matrix-primitives-024: rgb(160, 120, 180);
    --brand-matrix-primitives-025: rgb(73, 144, 226);
    --brand-matrix-primitives-026: rgb(35, 130, 200);
    --brand-matrix-primitives-027: rgb(81, 201, 52);
    --brand-matrix-primitives-028: rgb(251, 230, 165);
    --brand-matrix-primitives-029: rgb(47, 114, 190, 0.85);
    --brand-matrix-primitives-030: rgb(44, 43, 0);
    --brand-matrix-primitives-031: rgb(77, 65, 0);
    --brand-matrix-primitives-032: rgb(147, 79, 0);
    --brand-matrix-primitives-033: rgb(28, 92, 122);
    --brand-matrix-primitives-034: rgb(239, 98, 0, 0.5);
    --brand-matrix-primitives-035: rgb(245, 206, 96, 0.65);
    --brand-matrix-primitives-036: rgb(170, 203, 226, 0.65);
    --brand-matrix-primitives-037: rgb(255, 102, 102);
    --brand-matrix-primitives-038: rgb(166, 1, 6);
    --brand-matrix-primitives-039: rgb(85, 218, 116);
    --brand-matrix-primitives-040: rgb(255, 255, 255, 0.5);
    --brand-matrix-primitives-041: rgb(9, 133, 30, 0.1);
    --brand-matrix-primitives-042: rgb(208, 2, 27, 0.1);
    --brand-matrix-primitives-043: rgb(245, 206, 96, 0.3);
    --brand-matrix-primitives-044: rgb(225, 87, 0, 0.44);
    --brand-matrix-primitives-045: rgb(255, 255, 255);
    --brand-matrix-primitives-046: rgb(255, 255, 255);
    --brand-matrix-primitives-047: rgb(255, 255, 255);
    --brand-matrix-primitives-048: rgb(255, 255, 255);
    --brand-matrix-primitives-049: rgb(255, 255, 255);
    --brand-matrix-primitives-050: rgb(255, 255, 255);
    --brand-matrix-primitives-100: rgb(255, 255, 255);
    --brand-matrix-primitives-101: rgb(255, 255, 255);
    --brand-matrix-primitives-102: rgb(255, 255, 255);

    --ui-tokens-background-light: var(--brand-matrix-primitives-009);
    --ui-tokens-background-note: var(--brand-matrix-primitives-023-1);

    --ui-tokens-primary-accent: var(--brand-matrix-primitives-002);
    --ui-tokens-primary-ui: var(--brand-matrix-primitives-001);

    --ui-tokens-graph-graph-color-01: var(--brand-matrix-primitives-017);
    --ui-tokens-graph-graph-color-02: var(--brand-matrix-primitives-025);
    --ui-tokens-graph-graph-color-03: var(--brand-matrix-primitives-018);
    --ui-tokens-graph-graph-color-04: var(--brand-matrix-primitives-024);

    --ui-tokens-semantics-error: var(--brand-matrix-primitives-013);
    --ui-tokens-semantics-success: var(--brand-matrix-primitives-017);
    --ui-tokens-semantics-warning: var(--brand-matrix-primitives-018);

}