
:root {


    /* VR */
    /* colors */
    --brand-matrix-primitives-000: rgb(255, 255, 255);
    --brand-matrix-primitives-001: rgb(255, 102, 0);
    --brand-matrix-primitives-002: rgb(255, 178, 127);
    --brand-matrix-primitives-003: rgb(255, 202, 166);
    --brand-matrix-primitives-004: rgb(0, 60, 173);
    --brand-matrix-primitives-005: rgb(0, 102, 179);
    --brand-matrix-primitives-006: rgb(35, 130, 200);
    --brand-matrix-primitives-007: rgb(127, 178, 217);
    --brand-matrix-primitives-008: rgb(226, 239, 255);
    --brand-matrix-primitives-009: rgb(51, 51, 51);
    --brand-matrix-primitives-010: rgb(102, 102, 102);
    --brand-matrix-primitives-011: rgb(204, 204, 204);
    --brand-matrix-primitives-012: rgb(242, 242, 242);
    --brand-matrix-primitives-013: rgb(243, 243, 243);
    --brand-matrix-primitives-014: rgb(255, 255, 255);
    --brand-matrix-primitives-015: rgb(208, 2, 27);
    --brand-matrix-primitives-016: rgb(0, 153, 0);
    --brand-matrix-primitives-017: rgb(76, 189, 16);
    --brand-matrix-primitives-018: rgb(145, 190, 220);
    --brand-matrix-primitives-019: rgb(74, 144, 226);
    --brand-matrix-primitives-020: rgb(160, 120, 180);
    --brand-matrix-primitives-021: rgb(250, 175, 105);
    --brand-matrix-primitives-022: rgb(241, 247, 255);
    --brand-matrix-primitives-023: rgb(151, 185, 223);
    --brand-matrix-primitives-024: rgb(245, 193, 30);
    --brand-matrix-primitives-025: rgb(245, 206, 96);
    --brand-matrix-primitives-026: rgb(145, 190, 220);
    --brand-matrix-primitives-027: rgb(170, 203, 226);
    --brand-matrix-primitives-028: rgb(204, 204, 204);
    --brand-matrix-primitives-029: rgb(213, 213, 213, 0.6);
    --brand-matrix-primitives-030: rgb(113, 85, 128);
    --brand-matrix-primitives-031: rgb(200, 180, 215);
    --brand-matrix-primitives-032: rgb(0, 102, 179, 0.9);
    --brand-matrix-primitives-033: rgb(152, 211, 109);
    --brand-matrix-primitives-034: rgb(171, 149, 27);
    --brand-matrix-primitives-035: rgb(122, 119, 25);
    --brand-matrix-primitives-036: rgb(49, 74, 22);
    --brand-matrix-primitives-037: rgb(255, 102, 0, 0.5);
    --brand-matrix-primitives-038: rgb(245, 206, 96, 0.65);
    --brand-matrix-primitives-039: rgb(170, 203, 226, 0.65);
    --brand-matrix-primitives-040: rgb(255, 102, 102);
    --brand-matrix-primitives-041: rgb(166, 1, 6);
    --brand-matrix-primitives-042: rgb(85, 218, 116);
    --brand-matrix-primitives-043: rgb(255, 255, 255, 0.5);
    --brand-matrix-primitives-044: rgb(0, 153, 0, 0.1);
    --brand-matrix-primitives-045: rgb(208, 2, 27, 0.1);
    --brand-matrix-primitives-046: rgb(245, 206, 96, 0.3);
    --brand-matrix-primitives-047: rgb(40, 40, 40);
    --brand-matrix-primitives-048: rgb(130, 130, 130);
    --brand-matrix-primitives-049: rgb(225, 87, 0);
    --brand-matrix-primitives-050: rgb(0, 94, 162);
    --brand-matrix-primitives-100: rgb(29, 29, 29);
    --brand-matrix-primitives-101: rgb(100, 100, 100);
    --brand-matrix-primitives-102: rgb(166, 166, 166);

    --ui-tokens-background-light: var(--brand-matrix-primitives-012);
    --ui-tokens-background-note: var(--brand-matrix-primitives-008);

    --ui-tokens-primary-accent: rgb(255, 102, 0);
    --ui-tokens-primary-ui: rgb(255, 102, 0);

    --ui-tokens-graph-graph-color-01: rgb(76, 189, 16);
    --ui-tokens-graph-graph-color-02: rgb(74, 144, 226);
    --ui-tokens-graph-graph-color-03: rgb(245, 193, 30);
    --ui-tokens-graph-graph-color-04: rgb(255, 255, 255);

    --ui-tokens-semantics-error: rgb(208, 2, 27);
    --ui-tokens-semantics-success: rgb(0, 153, 0);
    --ui-tokens-semantics-warning: var(--brand-matrix-primitives-024);

}